header{
    width: 100%;
    height: 100px;
    background: #22d3ee;
}
.ln-100{
    line-height: 100px;
}
#route-map{
    width: 768px;
    padding: 9px;
}
.count-badge{
    width: 25px;
    height: 25px;
    background: red;
    color: white;
    display: inline-block;
    border-radius: 100%;
}
img#logo{
    margin: 10px;
    height: 80px;
}
div.station{
    position: relative;
    width: 250px;
    height: 100px;
    text-align: center;
}
div.logo{
    cursor: pointer;
}
/* route map */
span.station-point{
    position: relative;
    z-index: 4;
    background: #22d3ee;
    display: inline-block;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    outline: #22d3ee 2px solid;
}
span.station-point::before{
    position: absolute;
    z-index: 0;
    transform: translateX(-125px) translateY(5px);
    background: #22d3ee;
    display: inline-block;
    content: "";
    height: 5px;
    width: 250px;
}
.d-flex:first-of-type div.station:first-of-type span.station-point::before{
    position: absolute;
    z-index: 0;
    transform: translateY(5px);
    background: #22d3ee;
    display: inline-block;
    content: "";
    height: 5px;
    width: 125px;
}
.d-flex:last-of-type:nth-child(even) div.station:last-of-type span.station-point::before{
    position: absolute;
    z-index: 0;
    transform: translateY(5px);
    background: #22d3ee;
    display: inline-block;
    content: "";
    height: 5px;
    width: 125px;
}
.d-flex:last-of-type:nth-child(odd) div.station:last-of-type span.station-point::before{
    position: absolute;
    z-index: 0;
    transform: translateY(5px) translateX(-125px);
    background: #22d3ee;
    display: inline-block;
    content: "";
    height: 5px;
    width: 125px;
}
span.connect-line{
    position: absolute;
    z-index: 0;
    transform: translateY(5px) translateX(-125px);
    background: #22d3ee;
    display: inline-block;
    content: "";
    height: 105px;
    width: 5px;
}
.d-flex:nth-child(even) span.connect-line{
    transform: translateY(-43px) translateX(-125px);
}
.d-flex:nth-child(odd) span.connect-line{
    transform: translateY(-43px) translateX(125px);
}